
body {
    /*font: 400 15px Lato, sans-serif;*/
    line-height: 1.8;
    font: 400 15px "Muli", sans-serif;
    background-color: #f4f7f6;
    color: #202121;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    /*color: #303030;*/
    /*color: #00838f;*/
    color: #49c5b6;
    font-weight: 600;
    margin-bottom: 15px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 30px;
}
h5 {
    margin-bottom: 30px;
    color: #444;
}
.jumbotron {
    color: #fff;
    padding: 100px 25px;
    font-family: "Montserrat", sans-serif;
}
.container-fluid {
    padding: 50px 40px;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.navbar {
    margin-bottom: 0;
    /*background-color: #484848;*/
    /*background-color: #00838f;*/
    background-color: #202121;
    z-index: 1;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    /*font-family: Montserrat, sans-serif;*/
    font: Abel, sans-serif;

}
.navbar li a {
    color: #ffffff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a{
    color: #ffffff !important;
    background-color: #49c5b6 !important;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}


/* Header section */
.header {
  background-image: url("../assets/images/covers/opt_hero_dl_event.jpg");
  height: 430px;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
}

.max-width {
    max-width: 1200px;
}

.navbar-brand img {
    height: 30px;
    margin-top: -7px;
}

#countdown-timer {
    font-size: 36px;
    font-weight: bold;
}


/* Speakers */
#speakers h2 {
    margin-bottom: 30px;
}

#speakers h4 {
    color: #49c5b6;
    margin-bottom: 10px;
}

#speakers a {
    text-decoration: none;
}

#speakers a:hover {
    text-decoration: none;
}

.speaker-list {
    margin-top: 20px;
}

.thumbnail-circle {
    height: 200px;
    width: 200px;
    background-color: #555;
    border-radius: 50%;
    margin-bottom: 15px;
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
}

.thumbnail-circle:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.speaker-logo {
    max-width: 250px;
}


/* Program Schedule */
.program-school-schedule {
    width: 100%;
}


/* Location */
.location-container {
    height: 200px;
}

.location-school-info {
    font-size: 15px;
}

/* Footer */
#footer {
    background-color: #202121;
    margin-bottom: 0px;
}

.contact-email, .contact-email a {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 25px; 
}

.chip a {
    color: #ffffff;
    font-size: 14px;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.copyright {
    color: #ffffff;
    margin: auto;
    margin-top: 40px;
}

.research-profile-link, .linkedIn-link, .facebook-profile-link {
    margin-left: 5px;
}

.contact-us-info {
    margin: auto;
}


/* Sponsors */
.sponsor-logo img {
    max-width: 230px;
}

.sponsors-info {
    margin-bottom: 20px;
}

/* Organizers */
.organizer h4 {
    color: #49c5b6;
}

.organizers-text {
    margin-top: 32px;
}

.sponsor-logo .kmutnb-logo {
    width: 100px;
}

.organizers-list {
    margin-top: 10px;
}


/* Registration */
.payment-link-container {
    width: 60%; 
    text-align: center; 
    background-color: #49c5b6; 
    height:  40px; 
    padding-top: 6px; 
    border-radius: 30px; 
    margin-left: 20%; 
    font-size: 20px; 
    font-weight: bold;
}

.registration-link {
    color:  #ffffff; 
}

.registration-academic h4, .registration-industry h4 {
    margin-bottom: 10px;
}
