---
layout: default
title: Home
---

{% include about.html about=site.data.dlai6.about %}

<!-- Program Section -->
<div id="program" class="container-fluid max-width">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="progam-school">Program</h2>
            <br>
            <p>Tentative program - All times are given in ICT time (UTC+7)</p>
        </div>
    </div>
    <ul class="nav nav-tabs" >
    {% for tab in site.data.dlai6.programs %}
        <li {% if tab.tab-ref == 'Day1' %} class="active" {% endif %} ><a data-toggle="tab" href="#{{tab.tab-ref}}">{{tab.tab-name}}</a></li>
    {% endfor %}
    </ul>

    <div class="tab-content program-table-vertical">
    {% for tab in site.data.dlai6.programs %}
        <div id="{{tab.tab-ref}}" {% if tab.tab-ref == 'Day1' %} class="tab-pane fade in active" {% else %} class="tab-pane fade" {% endif %}>
            <h3>{{tab.title}}</h3>
            <table>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Activity</th>
                    </tr>
                </thead>
                <tbody>
                  {% for event in tab.events %}
                    <tr>
                        {% if event.event-name %}
                        <td colspan="2" class="program-table-header">{{event.event-name}}</td>
                        {% endif %}
                    </tr>
                    {% assign s = event.event-name | size %}
                    {% if s == 0 %}
                    <tr class="table-row-break">
                    {% else %}
                    <tr>
                    {% endif %}
                        {% if event.eventtime %}
                        <td>{{event.eventtime}}</td>
                        {% endif %}
                        <td>
                            {% if event.comments %}
                            {{event.comments }}<br>
                            {% endif %}
                            {% if event.speaker %}
                            <b>Speaker: </b>{{event.speaker }}<br>
                            {% endif %}
                            {% if event.topic %}
                            <b>Topic: </b> {{event.topic }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    </div>
</div>

{% include registration.html %}
{% include speaker.html about=site.data.dlai6.speaker %}
{% include committee.html about=site.data.committee %}

<!-- Sponsor Section -->
<div id="sponsors-organizers" class="container-fluid text-center max-width">
    <div class="text-center">
        <h2 class="sponsors">Sponsors</h2>
    </div>
    <div class="row text-center slideanim">
        {% for sponsor in site.data.dlai6.sponsors %}
        <div class="col-sm-4">
            <div class="sponsor-logo"> <a href={{ sponsor.site }} target="_blank"> <img
                        src={{ sponsor.image }} alt={{ sponsor.alt }}></a></div>
        </div>
        {% assign w = forloop.index | modulo:3 %}
        {% if w == 0 %}
    </div>
    <div class="row text-center slideanim">
        {% endif %}
        {% endfor %}
    </div>
    <br><br>
    <div class="text-center">
        <h2>Organizers</h2>
    </div>
    <div class="row text-center slideanim organizers-list">
        {% for organizer in site.data.dlai6.organizers %}
        <div class="col-sm-4">
            <div class="sponsor-logo"> <a href={{ organizer.site }} target="_blank"> <img
                        src={{ organizer.image }} alt= {{ organizer.alt }}></a></div>
        </div>
        {% assign w = forloop.index | modulo:3 %}
        {% if w == 0 %}
    </div>
    <div class="row text-center slideanim">
        {% endif %}
        {% endfor %}
    </div>
    <br><br>
</div>


<!-- Location Section -->
<!-- <div id="location" class="container-fluid text-center max-width">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="location-school">Location</h2>
            <h4 class="location-school-info">
                {{ site.location[0].content }}
            </h4>
        </div>
    </div>
</div> -->

