<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button id="navBtn" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage"> <img src="assets/images/logos/dp_winter_school_2018_logo2.png"
                    alt="Logo"> </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" onclick="checkToggle()">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="about-nav" href="#about">ABOUT</a></li>
                <li><a class="program-nav" href="#program">PROGRAM</a></li>
                <li><a class="speakers-nav" href="#speakers">SPEAKER</a></li>
                <li><a class="registration-nav" href="#registration">REGISTRATION</a></li>
                <li><a class="committee-nav" href="#committee">COMMITTEE</a></li>
                <li><a class="organizer-nav" href="#sponsors-organizers">SPONSOR</a></li>
            </ul>
        </div>
    </div>
</nav>