<h2>PAST EVENTS</h2>
<br>
<div class="retro">
    <div class="row">
        <i class="fa fa-history fa-lg"></i> <a
            href="https://deeplearningandaiwinterschool.github.io/past/dlai5.html"
            target="_blank">DLAI#5</a>
    </div>
    <div class="row">
        <i class="fa fa-history fa-lg"></i> <a
            href="https://deeplearningandaiwinterschool.github.io/past/dlai4.html"
            target="_blank">DLAI#4</a>
    </div>
    <div class="row">
        <i class="fa fa-history fa-lg"></i> <a
            href="https://deeplearningandaiwinterschool.github.io/past/dlai3.html"
            target="_blank">DLAI#3</a>
    </div>
    <div class="row">
        <i class="fa fa-history fa-lg"></i> <a
            href="https://deeplearningandaiwinterschool.github.io/past/dlai2.html"
            target="_blank">DLAI#2</a>
    </div>
    <div class="row ">
        <i class="fa fa-history fa-lg"></i> <a
            href="https://deeplearningandaiwinterschool.github.io/past/dlai1.html"
            target="_blank">DLAI#1</a>
    </div>
</div>