
<!-- Program Section -->
<div id="program" class="container-fluid max-width">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="progam-school">Program</h2>
            <br>
            <!-- <p>Tentative program - All times are given in ICT time (UTC+7)</p> -->
            <p>Program will be announced soon.</p>
        </div>
    </div>
    <ul class="nav nav-tabs" hidden>
    {% for tab in site.data.dlai7.programs %}
        <li {% if tab.tab-ref == 'Day1' %} class="active" {% endif %} ><a data-toggle="tab" href="#{{tab.tab-ref}}">{{tab.tab-name}}</a></li>
    {% endfor %}
    </ul>

    <div class="tab-content program-table-vertical" hidden>
    {% for tab in site.data.dlai7.programs %}
        <div id="{{tab.tab-ref}}" {% if tab.tab-ref == 'Day1' %} class="tab-pane fade in active" {% else %} class="tab-pane fade" {% endif %}>
            <h3>{{tab.title}}</h3>
            <table>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Activity</th>
                    </tr>
                </thead>
                <tbody>
                  {% for event in tab.events %}
                    <tr>
                        {% if event.event-name %}
                        <td colspan="2" class="program-table-header">{{event.event-name}}</td>
                        {% endif %}
                    </tr>
                    {% assign s = event.event-name | size %}
                    {% if s == 0 %}
                    <tr class="table-row-break">
                    {% else %}
                    <tr>
                    {% endif %}
                        {% if event.eventtime %}
                        <td>{{event.eventtime}}</td>
                        {% endif %}
                        <td>
                            {% if event.comments %}
                            {{event.comments }}<br>
                            {% endif %}
                            {% if event.speaker %}
                            <b>Speaker: </b>{{event.speaker }}<br>
                            {% endif %}
                            {% if event.topic %}
                            <b>Topic: </b> {{event.topic }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    </div>
</div>