<!-- Registration Section -->
<div id="registration" class="container-fluid text-center max-width registration-color">
    <div class="row">
        <div class="col-sm-12">
            <span class="h2-white">REGISTRATION</span>
            <h4>
                {{ site.registration[0].message }}<br>
                {{ site.registration[0].eventtime}}
            </h4>
            <p><i><b> {{ site.registration[0].content }}</b></i></p>
            <!-- <p><i><b>Registration is now closed.</b></i></p> -->
            <!-- <p><b>Zoom will confirm all successful DLAI5 registrants via an email.</b></p> -->
        </div>
        <div class="col-sm-12">
            <h2 hidden>REGISTRATION</h2>
            <h4>Thank you for your interest.
                <br>
                <p><i>Registration will be opened soon.</i></p>
            </h4>
        </div>
    </div>
</div>