<!-- Update Section -->
<div id="update" class="container-fluid text-center max-width">
    <div class="row text-left">
        <div class="col-sm-8">
            <div id="series-title">
                <p>APNNS/IEEE-CIS Education Forum Series:</p>
            </div>
            <div id="event-title">
                <span>Deep Learning and Artificial Intelligence Summer/Winter School 2023 (DLAI7)</span>
            </div>
            <div id="date-location-info">
                <span >17 - 21 July, 2023, Online virtually (ICT time)</span>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="update-info">
                <h3>News</h3>
                <ul class="update-bullet">
                    {% for n in site.data.dlai7.news %}
                        <li>[{{n.date}}] - {{n.text}} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>